@media screen and (min-width: 1200px) {
.container {
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
}
.section{
padding-top: 120px;
padding-bottom: 120px;
}
/*----------------- header  ----------------- */

.menu-list {
    margin-left: 76px;

}

/* ------------------------------ Adress ------------------------------ */

.contact-list {
    display: flex;

}

.contact-item+.contact-item {
    margin-left: 40px;
}

.contact-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-linear::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -25px;
    background-color: #404BBF;
    border-radius: 2px;
    z-index: 1;
}

.current {
    color: #404BBF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*=================== header ===================*/
   /* ------------------ hero ------------------ */
.hero{
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desktop-bg2x.jpg);
    }
}

.hero-title{
    margin-bottom: 48px;
}
         
   /* ==================== hero ==================== */
        
/*------------ features ------------*/

.features-list {
    display: flex;
}
.features-item{
    max-width: 264px;
}
.features-text{
    margin-bottom: 0;
}

.features-item .title {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 0.8;
}

.features-text {
font-weight: 400;
}

.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border-radius: 4px;
}

/*============ features ============*/

/*------------------- work -------------------*/
.work{
    display: block;
}
.work-title {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    list-style: none;
    gap: 24px;
}
/*=================== work ===================*/
/*------------------- team -------------------*/
.team{
    padding-top: 120px;

}
.team>.container {
    max-width: 1158px;
}
/*=================== team ===================*/


/*------------------ Customers ------------------*/
.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}
.customers-list {
    display: flex;
    gap: 24px;
}
.customers-item {
    width: 168px;
}
/*================== Customers ==================*/

/* ======================== footer ========================*/
.foot{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text {
    margin-bottom: 0;
}
.foot-content-icon {
    margin-left: 120px;
}
.subscribe{
    margin-left: 80px;
}


/* ======================== footer ========================*/

/* Portfolio */

.portfolio{
    padding-top: 100px;
    padding-bottom: 120px;
}
.portfolio>.container {
    padding: 0 0;
}

.nav-button-flex {
    margin-bottom: 72px;

}

.project-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}




}