@media screen and (min-width: 480px){
  
    .container{
max-width: 426px;
margin-left: auto;
margin-right: auto;
    }

.mob-contact-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;

}

.mob-content-list {
    display: flex;
    gap: 56px;
}

/* ------------------ hero ------------------ */
.hero-title{
        font-size: 36px;
        line-height: 1.1;
        width: 320px;
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-bg2x.jpg);
    }
}

/* ==================== hero ==================== */


/*------------------- work -------------------*/
      
 /*=================== work ===================*/
       
 /*------------------- team -------------------*/
 
 .team > .container {
     max-width: 294px;
 }

 /*=================== team ===================*/
       
   /*------------------ Customers ------------------*/
        .customers-svg {
            width: 110px;
            height: 56px;
        }
   /*================== Customers ==================*/


   /*-------------- Modal-form --------------*/
   .modal {
       width: 408px;
   }
   
     
}
